<!--
=======================================================
;  Title: footer.ejs
;  Author: Gustavo Roo Gonzalez
;  Date: 18 September 2021
;  Description: Footer for EMS
=======================================================
-->

<footer class="footer">
  <div class="container">
    <span class="text-muted">© Gustavo Roo Gonzalez 2021. Bellevue University</span>
  </div>
</footer>
