<!--
=======================================================
;  Title: navbar.ejs
;  Author: Gustavo Roo Gonzalez
;  Date: 18 September 2021
;  Description: Navbar for EMS
;  Reference: https://www.w3schools.com/whatis/whatis_bootstrap.asp
;             https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/
=======================================================
-->

<!--When clicking these links, the javascript request will process and display the corresponding page-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/list">Employee List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/new">Add New Listing</a>
    </li>
  </ul>
</nav>
