<!--
=======================================================
;  Title: news.ejs
;  Author: Gustavo Roo Gonzalez
;  Date: 18 September 2021
;  Description: News Page for EMS
=======================================================
-->

<!DOCTYPE html>
<html lang="en">

  <!--Site Header Module-->
  <head>
    <%- include('header'); -%>
  </head>
    
  <body>
    <!--Navigation Bar-->
    <%- include('navbar'); -%>
    
   <!--Main Content-->
   <main role="main" class="container">
    <div class="jumbotron text-center">
       <h1>New Employee Page</h1>
       <p>EMS (Milestone 2): User Interface Submission</p>
    </div>
  
    <!--Text Section-->
    <div>
       <h2 class="mt-5 text-center">Main Text of New Employee Page</h2>
       <p class="lead">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
     <br  />
    </div>
  </main>
    
  </body>
  
<!--Site Footer Module-->
</div>
<%- include ('footer'); -%>
</div>
</html>
