<!--
=======================================================
;  Title: index.ejs
;  Author: Gustavo Roo Gonzalez
;  Date: 27 August 2021
;  Description: Index page for Exercise 3.4
=======================================================
-->


<!--Including the header.ejs file.-->
<%- include('header'); -%>

    <!--Displaying the message from JS-->
    <div role="main" class="container">
        <br/><br/>
        <h2>Welcome to the
            <%= message %>!</h2>
    </div>

    <!--Including the footer.ejs file-->
    <%- include('footer'); -%>